* {background-color: rgb(72, 126, 67);
    }
    div{
        border: black 1px solid;
    }
    .container {
        width: 100%;
      }
    .img_carousel{
        max-height: 800px;
        max-width: 500px;
        margin:0px auto;
    }
    .nav-item{
        background-color: rgb(174, 209, 19);
    }