<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>水電資料</title>
    <link rel="stylesheet" href="css/css.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"
      integrity="sha512-gh+25Y0CTHtw1FSJ4gDKYDFlZ84oV0l1bY5v7xrIwep7M1aV+7JgUaTu55bMerCblbPUD22MKlStyUwO9lHq4w=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <h1 class="alert alert-primary">水電資料</h1>
      <span>時間{{time}}</span>
      <div class="row nav justify-content-center">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">秀朗橋</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">景平</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>設備列表</h2>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <button class="input-group-text">搜尋</button>
            </div>
            <select name="" id="" v-model="device_sort">
              <option selected>全部</option>
              <option>偵煙器</option>
              <option>分電盤</option>
            </select>
            <input type="text" class="form-control" v-model.trim="input" />
          </div>
          <div>
            <h2>偵煙器</h2>
            <div class="plane_content">
              <ul v-for="(item,index) in device.smoker">
                <li>{{index}}</li>
                <li>{{item.loop}}</li>
                <li>{{item.place}}</li>
              </ul>
            </div>
          </div>
          <div>
            <h2>分電盤</h2>
            <div class="plane_content">
              <ul v-for=" (item,index) in device.panel_borad">
                <li>{{index}}</li>
                <li>{{item.name}}</li>
                <li>{{item.upstream}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./javascript/TRTC.js"></script>
</html>
